# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase
.firebase/

# Environment files
.env
.env.local
.env.*.local

# Coverage
coverage/
.nyc_output/

# Caches
.npm/
.eslintcache
.vite/

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Optional history / temp
.node_repl_history

# Archives
*.tgz

# Misc
.yarn-integrity
.dataconnect

deleteAllUsers.py
serviceAccountKey.json